@font-face {
   font-family: leagueGothicFont;
   src: url(http://www.myfriendwa.com/arcommon/resources/fonts/league-gothic.regular.ttf);
}

*{
	font-family: leagueGothicFont;
	font-size: 30px;
}
.container{
	//border: solid black 2px;
	width: 100%;
}
.leftContainer{
	width:10%;
	position: fixed;
	left: 0%;
	//border: 5px solid red;
	height: 98%;
}
.rightContainer{
	width:10%;
	position: fixed;
	right: -20px;
	//border: 5px solid blue;
	height: 98%;
}
.centerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid yellow 5px; 
	height: 98%;
}
.headerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid green 5px; 
	height: 5%;
	color: blue;
}
.mainContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid red 5px; 
	height: 82%;
	top: 7%;
	overflow: auto;
}
.footerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid orange 5px; 
	height: 10%;
	bottom: 0%;
	align-content: center;
	color: blue;
}

input[type=submit]{
    width: 100%;
    height: 75px;
}

.wish{
	font-style: initial;
    width: 99%;
    padding: 12px 20px;

    display: inline-block;
    
	font-weight: bolder;
}
.myButton {
	size: 100;
	height: 70%;
  	text-align: center;
  	cursor: pointer;
  	background-color: #4CAF50;
  	border: none;
  	border-radius: 10px;
  	box-shadow: 0 9px #999;
  	display: block;
  	margin: 0 auto;
  	color: blue;
}

.myButton:hover {
	background-color: #3e8e41
}

.myButton:active {
  	background-color: #3e8e41;
  	box-shadow: 0 3px #666;
  	transform: translateY(4px);
}
