.bg{
    background-image: url('../htmls/ma-pa.jpg');
    background-repeat: no-repeat;
    width: 100 px;
    height: 100 px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   //background-color: red;
   color: black;
   text-align: center;
}