/********************************************************************
	ZYPOP - HTTPS://ZYPOPWEBTEMPLATES.COM
	FREE WEB TEMPLATES
********************************************************************/


/**
This file contains the core CSS for this template, built on the Bootstrap framework 
Set the variable values in _variables.scss 
**/


/** 
Page structure and elements 
**/
.bg-primary {
    background-color: $primary !important;
}


body, .header-wrap, main { 
    background-color: $white;	
}

main {
	padding-top: 1.5em;
}
.text-primary {
    color: $primary !important;
}

a, .page-link {
    color: lighten($secondary, 10%);
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        color: darken($secondary, 15%);
    }
}
.btn, .page-link, .nav-link { text-decoration: none; }
.page-link { font-weight: bold; }

fieldset { 
    margin-bottom: $spacer; 
    display: block;
    border-top: 1px solid #ccc;
}
fieldset legend { 
    width: auto;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

table th { 
    background-color: $secondary;
    color: $white;
	border-color:darken($secondary, 15%) !important;
	border-bottom: 1px solid darken($secondary, 15%);
}

blockquote {
    display: block;
    border-left: 5px solid #ccc;
    padding: 0.5rem;
	color: #666;
    margin-bottom: $spacer;

}
.btn { 
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    color: #333;
    font-weight: bold;
}

h3, .h3 {
    color: $primary;
}

h4, .h4 {
    color: lighten($secondary, 10%);
}
/** 
Jumbotron / Slider
**/
.jumbotron, .jumbotron-wrap { 
    background-color: lighten($secondary, 5%);
    background: -moz-linear-gradient(top, lighten($secondary, 5%) 0%, $secondary 100%); 
    background: -webkit-linear-gradient(top, lighten($secondary, 5%) 0%, $secondary 100%);
    background: linear-gradient(to bottom, lighten($secondary, 5%) 0%, $secondary 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($secondary, 5%)', endColorstr='$secondary',GradientType=0 );  
}
.jumbotron-wrap {
    color: lighten($secondary, 50%);
}
.jumbotron-wrap h1 {
    color: $gray-100;
    text-shadow: 0 2px 1px darken($secondary, 10%);
}

.jumbotron-narrow { 
    padding: $jumbotron-padding;
}
.jumbotron { 
        margin-bottom: 0; 
}
.jumbotron .btn-outline-primary {
    color: $white;
    border-color: $white;
    &:hover,
    &:focus,
    &:active {
       border-color: $primary;
    }
}
.jumbotron .btn-outline-secondary {
    color: lighten($secondary, 30%);
    border-color: lighten($secondary, 30%);
    &:hover,
    &:focus,
    &:active {
       background-color: darken($secondary, 30%);
        border-color: darken($secondary, 30%);
    }
}
.jumbotron .btn-secondary {
    background-color: darken($secondary, 20%);
    border-color: darken($secondary, 20%);
    &:hover,
    &:focus,
    &:active {
       background-color: darken($secondary, 30%);
        border-color: darken($secondary, 30%);
    }
}


/**
Header 
**/
header h1 {
	font-size: 3rem;
    text-transform: uppercase;
	line-height: 1.6rem;
	letter-spacing: -0.2rem;
}

.header-wrap { 
    padding: 2rem 0; 
    background-color: $primary;
    border-top: 10px solid darken($primary, 5%);
}

.header-social-icons, header h1 { 
    margin-bottom: 0; 
    color: $white;
    text-shadow: 0 2px 2px darken($primary, 30%);
}

.header-social-icons a {
    color: lighten($primary, 80%);
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 60%);
    }
}




/** 
Navbar 
**/
.navbar-toggler {
	margin: 0.5rem;
}

.navbar {
	padding: 0 1rem;
}
.navbar {
    background-color: darken($body-color, 40%);
}
.navbar-dark .navbar-brand {
  	font-weight: bold;
    text-decoration: none;
}
.navbar .active .nav-link {
	background-color: lighten($secondary, 5%) !important;
    &:hover,
    &:focus,
    &:active {
        background-color: lighten($secondary, 5%) !important;
    }
}

.navbar-dark .navbar-nav .nav-link,
.navbar-nav .dropdown-item
 {
    color: lighten($body-color, 10%);
    font-weight: bold;
     text-decoration: none;
    padding: 1rem !important;
    font-size: 1rem;
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 90%);
        background-color:  $primary;
    }
}
.navbar-nav .dropdown-item {
    color: lighten($primary, 50%);
}
.navbar li.show .nav-link {
    color: lighten($primary, 90%) !important;
    background-color: $primary;
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 90%) !important;
        background-color: darken($primary, 5%) !important;
    }
}
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item.active {
	background-color: darken($primary, 10%);
    color: lighten($primary, 90%);
}

.dropdown-menu {
    border: none;
    margin:0;
    padding: 0;
    background-color: darken($primary, 5%) !important;
}

.dropdown-divider {
	border-color: $black;
}


/**
Footer
**/
footer { 
	background-color: darken($body-color, 55%);
    color: darken($body-color, 20%);
	font-size: 0.9rem;

}
.footer-lists {
	background-color: darken($body-color, 50%);
	padding: 2rem;
	margin-bottom: 1rem;
}

.footer-bottom {
    color: darken($body-color, 20%);
}

.footer-bottom  a {
    color: darken($body-color, 20%);
    &:hover,
    &:focus,
    &:active {
        color: darken($body-color, 20%);
    }
}

.footer-lists h4 {
    color: darken($body-color, 5%);
}

.social-icons  a {
    margin-right: 15px;
}
.footer-lists ul {
    list-style: none;
	margin: 0;
	padding: 0;
}
.footer-lists ul li {
	padding: 0.1rem 0;
}
footer p {
	margin: 0;
	padding-bottom: 1rem;
}

footer  a {
    color: darken($body-color, 20%);
    &:hover,
    &:focus,
    &:active {
        color: darken($body-color, 10%);
    }
}



/** 
Articles
**/
article {
	margin-bottom: 2rem;
	border-bottom: 1px solid $gray-300;
	padding-bottom: 2rem;
	font-size: 1.2rem;
}

article h2.article-title {
	font-size: 3rem;
	margin-bottom: 0;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
	letter-spacing: -2px;
}

article p.article-meta {
	color: #ccc;
	font-size: 1rem;
}
article p.article-meta a {
	 color: $primary;
    border-color: $primary;
}
article p a {
    text-decoration: none;
    border-bottom:1px solid lighten($secondary, 10%);
     &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $primary;
        border-color: $primary;
        background-color: lighten($primary, 50%);
    }
        
}
/**
Sidebar
**/
.sidebar-box {
	margin-bottom: 2rem; 
}
.sidebar-box-bg {
	padding: 1rem;
	background-color: $content-bg-color;
	border-radius: $border-radius;
}




/***
Better nesting of list groups
***/
.list-group-item { 
    border: none !important;
    padding-left: 0;
    color: $body-color;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: darken($body-color, 20%);
    }
}

.list-group-item.active {
    background: transparent;
    color: darken($body-color, 30%);
}

.list-group .list-group .list-group-item {
	padding-left: $list-group-item-padding-x * 2;
}

.list-group .list-group .list-group .list-group-item {
	padding-left: $list-group-item-padding-x * 3;
}

.list-group .list-group .list-group .list-group .list-group-item {
	padding-left: $list-group-item-padding-x * 4;
}

.list-group > .list-group .list-group-item:first-child,
.list-group > .list-group .list-group-item:last-child {
	border-radius: 0 !important;
}
.list-group > .list-group .list-group-item:last-child {
	border-bottom: none !important;
}
.list-group-item:first-child { 
    border-radius: 0;
}

.list-group-root { 
    border-radius: $border-radius;
}
.list-group-item {

}

.list-group-item.active {
    border-radius: $border-radius;
}
/** 
Responsive typography
https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
**/
html {
    font-size: 16px;
}
@include media-breakpoint-up(xs) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(md) {
    html {
        font-size: 13px;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-nav .dropdown-item
    {
        border-radius: 0;
    }
}
@include media-breakpoint-up(lg) {
    html {
        font-size: 16px;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-nav .dropdown-item
     {
         padding: 1rem 2rem !important;
    }
}