@font-face {
   font-family: leagueGothicFont;
   src: url(http://www.myfriendwa.com/arcommon/resources/fonts/league-gothic.regular.ttf);
}

*{
	font-family: leagueGothicFont;
	font-size: 35px;
}

.mainContainer{
	width: 100%;
	position: fixed;
	//border:solid red 5px; 
	height: 90%;
	//top: 1%;
	overflow: auto;
}
.mainContainerHeader{
	font-weight: bold;
	top: 1%;
	width: 98%;
	height: 8%;
	position: fixed;
	text-align: center;
	//border:solid black 5px; 
}
.mainContainerContent{
	align-content: center;
	top: 11%;
	width: 99%;
	height: 85%;
	position: fixed;
	//border:solid blue 5px; 
	overflow: auto;
}
.footerContainer{
	font-size: 1px;
	width: 99%;
	position: fixed;
	//border:solid orange 5px; 
	height: 4%;
	bottom: 1%;
	text-align: center;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 1px 8px;
}

a:hover {
    background-color: #4CAF50;
    color: black;
}
.content{
	position: fixed;
	//text-align: center;
	align-content: center;
	top: 11%;
	width: 98%;
	height: 85%;
	position: fixed;
	overflow: auto;
	align: center;
	//border:solid green 5px; 
}

textarea[name=address] {
    resize: none;
}

textarea[name=order] {
    resize: none;
}