@font-face {
   font-family: leagueGothicFont;
   src: url(http://myfriendwa.com/arcommon/resources/fonts/league-gothic.regular.ttf);
   src: url(http://localhost:8080/arcommon/resources/fonts/league-gothic.regular.ttf);
}

*{
	font-family: leagueGothicFont;
	font-size: 22px;
}

.mainContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid red 5px; 
	height: 76%;
	top: 7%;
	overflow: auto;
}
.mainContainerHeader{
	font-weight: bold;
	width: 79%;
	height: 8%;
	position: fixed;
	text-align: center;
	//border:solid black 5px; 
}
.mainContainerContent{
	top: 0%;
	width: 79%;
	height: 65%;
	position: fixed;
	//border:solid blue 5px; 
	overflow: auto;
}
.footerContainer{
	font-size: 1px;
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid orange 5px; 
	height: 5%;
	bottom: 0%;
	text-align: center;
	font-size: 10px;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #4CAF50;
    color: black;
}
.previous {
	position: fixed;
	top: 50%;
	left: 15%;
    background-color: #f1f1f1;
    color: black;
}
.next {
	position: fixed;
	top: 50%;
	left: 78%;
    background-color: #f1f1f1;
    color: black;
    float: right;
}
.round {
    border-radius: 50%;
}
.content{
	position: fixed;
	top: 15%;
	left: 40%;
	width: 55%;
	height: 73%;
	overflow: auto;
}

textarea[name=address] {
    resize: none;
}

textarea[name=order] {
    resize: none;
}