@font-face {
   font-family: leagueGothicFont;
   src: url(http://myfriendwa.com/arcommon/resources/fonts/league-gothic.regular.ttf);
}

*{
	font-family: leagueGothicFont;
	font-size: 30px;
}

.container{
	//border: solid black 2px;
	width: 100%;
}
.leftContainer{
	width:10%;
	position: fixed;
	left: 0%;
	//border: 5px solid red;
	height: 98%;
}
.rightContainer{
	width:10%;
	position: fixed;
	right: -20px;
	//border: 5px solid blue;
	height: 98%;
}
.centerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid yellow 5px; 
	height: 98%;
}
.headerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid green 5px; 
	height: 5%;
}
.mainContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid red 5px; 
	height: 76%;
	top: 7%;
	overflow: auto;
}
.footerContainer{
	width: 80%;
	position: fixed;
	left: 10%;
	//border:solid orange 5px; 
	height: 15%;
	bottom: 0%;
	text-align: center;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
