@font-face {
   font-family: leagueGothicFont;
   src: url(/resources/fonts/league-gothic.regular.ttf);
}

*{
	font-family: leagueGothicFont;
	font-size: 40px;
}

a{
    width: 50%;
    height: 75px;
    font-size: 40px;
}

input[type=submit]{
    width: 50%;
    height: 75px;
}

input[type=text]{
	font-style: initial;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
	size: 100;
  	padding: 10px 15px;
  	font-size: 40px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	color: #fff;
 	background-color: #4CAF50;
  	border: none;
  	border-radius: 10px;
  	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: #3e8e41
}

.button:active {
  	background-color: #3e8e41;
  	box-shadow: 0 3px #666;
  	transform: translateY(4px);
}