<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  	
  	<servlet>
	    <servlet-name>ArWishesYou</servlet-name>
	    <servlet-class>
	       com.arsoft.projects.common.servlet.ArWisher
	    </servlet-class>
    	<load-on-startup>1</load-on-startup>
	 </servlet>
   
	<servlet-mapping>
	     <servlet-name>ArWishesYou</servlet-name>
	     <url-pattern>/wishes</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	    <servlet-name>SendOrder</servlet-name>
	    <servlet-class>
	       com.arsoft.projects.common.servlet.ArEmailSenderServlet
	    </servlet-class>
    	<load-on-startup>2</load-on-startup>
	 </servlet>
   
	<servlet-mapping>
	     <servlet-name>SendOrder</servlet-name>
	     <url-pattern>/order</url-pattern>
  	</servlet-mapping>
	
	<!--  DispatcherServlet Defined for springs . For each servlet make sure that there is a corresponding file 
	{ServletName}-servlet.xml inside WEB-INF folder-->
	<servlet>
	    <servlet-name>ArCommonBaseServlet</servlet-name>
	    <servlet-class>
	       org.springframework.web.servlet.DispatcherServlet
	    </servlet-class>
    	<load-on-startup>1</load-on-startup>
	 </servlet>
   
	<servlet-mapping>
	     <servlet-name>ArCommonBaseServlet</servlet-name>
	     <url-pattern>*.do</url-pattern>
  	</servlet-mapping> 
  	
  	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>	
	
	<listener>
    	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>	
	
	<!-- Global parameters for application -->
	<context-param>
		<param-name>websiteNickName</param-name>
		<param-value>MyFriendwa</param-value>
	</context-param>
	
	<context-param>
		<param-name>websiteFullName</param-name>
		<param-value>www.myfriendwa.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>contactEmail</param-name>
		<param-value>contact@myfriendwa.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>adminEmail</param-name>
		<param-value>admin@myfriendwa.com</param-value>
	</context-param>
	
</web-app>